body {
    background: url('https://i.imgur.com/eKsUiZY.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.clock {
    font-size: 200px;
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    letter-spacing: 4px;

    /* Gradient text */
    background: linear-gradient(to top, #B7008D, #B800FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Ensure text is fully transparent */
    
    text-shadow: 
        0 0 10px rgba(183, 0, 141, 0.8), /* Increased glowing effect */
        2px 2px 4px rgba(0, 0, 0, 0.5); /* Softer drop shadow */;
}
